
:root{
	--main_width: 1300px;

}


/* 单行文本溢出隐藏显示省略号 */
.textOneEllipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
 
 /* 多行文本溢出隐藏显示省略号 */
 .textManyEllipsis{
 	text-overflow: -o-ellipsis-lastline;
 	overflow: hidden;
 	text-overflow: ellipsis;
 	display: -webkit-box;
 	-webkit-line-clamp: 3;
 	-webkit-box-orient: vertical;
 }

// 文本两端对齐
.justify_align{
	text-align: justify;
	text-justify: distribute-all-lines;	/*ie6-8*/
	text-align-last: justify;			/*ie9*/
	-moz-text-align-last: justify;		/*ff*/
	-webkit-text-align-last: justify;	/*chrome20+*/
}

// 手型
.hoverPointer{
  	cursor: pointer;
}